In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('zipcode_data_merged.csv', converters={'zipcode': str})

In [5]:
df

,zipcode,city,state,country,timezone,latitude,longitude,total_house_units,occupied_house_units,owner_occupied_units,...,race_asian_indian,race_asian_chinese,race_asian_japanese,race_asian_korean,race_asian_vietnamese,race_asian_filipino,race_pacific_islander,race_other,hispanic_any_race,race_two_or_more_or_unknown
0,00601,Adjuntas,PR,US,America/Puerto_Rico,18.16,-66.72,7306,5397,3553,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.9,99.5,5.1
1,00602,Aguada,PR,US,America/Puerto_Rico,18.38,-67.18,17311,12858,9782,...,0.1,0.1,0.0,0.0,0.0,0.0,0.0,3.9,94.1,32.8
2,00603,Aguadilla,PR,US,America/Puerto_Rico,18.43,-67.15,24771,19295,11254,...,0.0,0.1,0.0,0.0,0.0,0.0,0.0,14.5,97.9,7.6
3,00606,Maricao,PR,US,America/Puerto_Rico,18.18,-66.98,2786,1968,1440,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,36.9,99.3,4.5
4,00610,Anasco,PR,US,America/Puerto_Rico,18.28,-67.14,12494,8934,6452,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.7,95.8,31.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33766,99923,Hyder,AK,US,America/Sitka,55.97,-130.04,64,13,13,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33767,99925,Klawock,AK,US,America/Sitka,55.54,-132.96,436,345,253,...,0.0,0.0,0.0,0.0,0.8,0.0,0.0,0.0,4.1,17.5
33768,99926,Metlakatla,AK,US,America/Metlakatla,55.14,-131.49,503,457,368,...,0.0,0.0,0.0,0.0,0.0,0.4,0.0,1.0,3.3,2.0
33769,99927,Point Baker,AK,US,America/Sitka,56.30,-133.57,39,11,11,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33770,99929,Wrangell,AK,US,America/Sitka,56.41,-131.61,1246,841,541,...,0.0,0.0,0.0,0.0,0.0,0.3,2.1,1.5,5.0,12.5

In [6]:
df['median_rent_value'] = df['median_rent_value'].str.rstrip('\\N+')

In [7]:
df['median_home_value'] = df['median_home_value'].str.rstrip('\\N+')

In [8]:
df['median_rent_value'] = df['median_rent_value'].str.replace(',' , '')

In [9]:
df['median_home_value'] = df['median_home_value'].str.replace(',' , '')

In [10]:
df['average_household_income'] = df['average_household_income'].str.rstrip('\\N+')

In [11]:
df['average_household_income'] = df['average_household_income'].str.replace(',' , '')

In [12]:
df[df['median_home_value'] == '2,000,000+']

Empty DataFrame
Columns: [zipcode, city, state, country, timezone, latitude, longitude, total_house_units, occupied_house_units, owner_occupied_units, renter_occupied_units, median_home_value, median_rent_value, working_age_pop_over_16, pop_with_high_school, pop_with_bachelor, labor_force_participation_rate, unemployment_rate, average_household_income, rate_of_civilian_with_insurance, poverty_rate, total_population, median_age, age_under_5, age_5_to_9, age_10_to_14, age_15_to_19, age_20_to_24, age_25_to_34, age_35_to_44, age_45_to_54, age_55_to_59, age_60_to_64, age_65_to_74, age_75_to_84, age_over_85, age_over_16, age_over_18, age_under_18, age_over_21, age_over_65, male_female_sex_ratio, male_female_sex_ratio_over_18, race_white, race_black, race_native_american, race_asian, race_asian_indian, race_asian_chinese, race_asian_japanese, race_asian_korean, race_asian_vietnamese, race_asian_filipino, race_pacific_islander, race_other, hispanic_any_race, race_two_or_more_or_unknown]
Index: []

[0 rows x 57 columns]

In [13]:
df.to_csv('zipcode_data_merged2.csv', index=False)