In [86]:
import pandas as pd

In [87]:
df = pd.read_csv('zip_code_database.csv', low_memory=False)

In [88]:
r, c = df.shape

In [89]:
r

42735

In [90]:
c

15

In [91]:
df.head()

,zip,type,decommissioned,primary_city,acceptable_cities,unacceptable_cities,state,county,timezone,area_codes,world_region,country,latitude,longitude,irs_estimated_population
0,501,UNIQUE,0,Holtsville,NaN,Internal Revenue Service,NY,Suffolk County,America/New_York,631,NaN,US,40.81,-73.04,562
1,544,UNIQUE,0,Holtsville,NaN,Internal Revenue Service,NY,Suffolk County,America/New_York,631,NaN,US,40.81,-73.04,0
2,601,STANDARD,0,Adjuntas,NaN,"Colinas Del Gigante, Jard De Adjuntas, Urb San...",PR,Adjuntas Municipio,America/Puerto_Rico,"787,939",NaN,US,18.16,-66.72,0
3,602,STANDARD,0,Aguada,NaN,"Alts De Aguada, Bo Guaniquilla, Comunidad Las ...",PR,Aguada Municipio,America/Puerto_Rico,"787,939",NaN,US,18.38,-67.18,0
4,603,STANDARD,0,Aguadilla,Ramey,"Bda Caban, Bda Esteves, Bo Borinquen, Bo Ceiba...",PR,Aguadilla Municipio,America/Puerto_Rico,787,NaN,US,18.43,-67.15,0

In [92]:
df2 = df[df['decommissioned'] == 0]

In [99]:
df3 = df2[['zip', 'primary_city', 'state', 'country', 'timezone', 'latitude', 'longitude']]

In [100]:
df4 = df3.rename(columns={'zip':'zipcode', 'primary_city':'city'})

In [101]:
df4

,zipcode,city,state,country,timezone,latitude,longitude
0,501,Holtsville,NY,US,America/New_York,40.81,-73.04
1,544,Holtsville,NY,US,America/New_York,40.81,-73.04
2,601,Adjuntas,PR,US,America/Puerto_Rico,18.16,-66.72
3,602,Aguada,PR,US,America/Puerto_Rico,18.38,-67.18
4,603,Aguadilla,PR,US,America/Puerto_Rico,18.43,-67.15
...,...,...,...,...,...,...,...
42730,99926,Metlakatla,AK,US,America/Metlakatla,55.14,-131.49
42731,99927,Point Baker,AK,US,America/Sitka,56.30,-133.57
42732,99928,Ward Cove,AK,US,America/Sitka,55.45,-131.79
42733,99929,Wrangell,AK,US,America/Sitka,56.41,-131.61
42734,99950,Ketchikan,AK,US,America/Sitka,55.34,-131.64

In [102]:
df4['zipcode'] = df4['zipcode'].astype(str)

In [103]:
df4['zipcode'] = df4['zipcode'].str.pad(width=5, side='left', fillchar='0')

In [104]:
df4

,zipcode,city,state,country,timezone,latitude,longitude
0,00501,Holtsville,NY,US,America/New_York,40.81,-73.04
1,00544,Holtsville,NY,US,America/New_York,40.81,-73.04
2,00601,Adjuntas,PR,US,America/Puerto_Rico,18.16,-66.72
3,00602,Aguada,PR,US,America/Puerto_Rico,18.38,-67.18
4,00603,Aguadilla,PR,US,America/Puerto_Rico,18.43,-67.15
...,...,...,...,...,...,...,...
42730,99926,Metlakatla,AK,US,America/Metlakatla,55.14,-131.49
42731,99927,Point Baker,AK,US,America/Sitka,56.30,-133.57
42732,99928,Ward Cove,AK,US,America/Sitka,55.45,-131.79
42733,99929,Wrangell,AK,US,America/Sitka,56.41,-131.61
42734,99950,Ketchikan,AK,US,America/Sitka,55.34,-131.64

In [105]:
df4.to_csv('preprocessed_zipcode.csv', index=False)